  <br>
  <h1 style="text-align:center; font-family:helvetica; font-weight: 200; color:#0081BD;">Welcome To Trax</h1>
  <span style="padding-left:380px">
    <img src="https://www.bookkeepingangels.co.uk/wp-content/uploads/2017/05/improve-profits-of-small-business.jpg" alt="ty" width="480" height="300">
    <br><br>
    <hr style="max-width:600px;"><br>
  <p style="text-align:center; font-family:helvetica; max-width: 500px; margin:auto ">
    Hello <%= @name %>, thank you for choosing Trax to help you with your small business needs. Trax helps you organize everything you need to do to file your taxes on time.
  </p>
