<br>
<h1 style="text-align:center; font-family:helvetica; font-weight: 200; color:#0081BD;">Trax Alert</h1>
<br>
<span style="padding-left:520px">
  <img src="http://directcpa.com/wp-content/uploads/2017/01/tax-man-cartoon.png" alt="notice" width="200" height="320">
  <br><br>
  <hr style="max-width:300px;"><br>
<p style="text-align:center; font-family:helvetica; max-width: 500px; margin:auto ">
  Hello <%= @name %>, You have a form that's due on <%= @form.due %>. You can find the form here <%= @form.url %>. Thank you for choosing Trax to help with your small business needs. Don't forget to verify your financials with your CPA.
</p>
