<h1>Taxify</h1>

<p>You have a form that's due on <%= @form.due %></p>
<p>You can find the form here <%= @form.url %></p>

<p>Thank you for choosing Taxify to help with your small business needs.</p>

<p>
Follow us on Facebook 'link'
Like us on Twitter 'link'
</p>
