<div class="nav navbar navbar-default">
  <div class="container">
    <h1>Tax Alert</h1>
  </div>
</div>

<h1>New Company</h1>

<%= render 'form', company: @company %>

<%= link_to 'Back', companies_path %> |
<%= link_to 'Log out', root_url %>
