// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  // margin: 1em;.
}

.create {
  margin-top: 20px;
  text-align: center;
  color: black;
  background-color: white;
  border: solid;
  max-width: 300px;
  max-height: 150px;
}
