// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  max-width: 500px;
  background-color: #f0f8ff;
  box-shadow: 5px 4px 4px #d4d4d4;
}

.create {
  margin-top: 20px;
  text-align: center;
  color: black;
  background-color: white;
  border: solid;
  max-width: 300px;
  max-height: 150px;
}
.companiesheader{
  font-family: helvetica;
  font-weight: 200;
  font-size: 30px;
  padding: 3px;

}
.bizowner{
  padding: 60px;
}

.space{
  padding: 30px;
}

.companynames{
  font-family: helvetica;
  font-weight: 200;
  font-size: 36px;
}
